/* searchBar.css */

.search-bar-appbar {
  width: 100%;
  background: transparent;
  box-shadow: none;
  padding: 8px;
}

.search-bar-toolbar {
  justify-content: center;
}

.search-bar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2;
  width: 80%;
  padding: 0 1em;
  margin: 1em auto;
}

.search-bar-textfield,
.search-bar-button {
  width: 100%;
  margin: 8px 0; /* Ensure consistent margin for all screen sizes */
}

@media (min-width: 600px) {
  .search-bar-box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .search-bar-textfield,
  .search-bar-button {
    width: auto; /* Allow natural width on larger screens */
    margin: 8px;
  }
}

/* Specify button styles */
.MuiButton-contained.search-bar-button {
  background-color: #0f0f0f;
  /* Make sure the button height aligns with TextField */
  height: 40px; /* Example fixed height, adjust as needed */
}

/* Remove unused styles or ensure they are being used */
